@page "/"

<h2>Привет, ты попал на сайт discord бота Darling</h2>

Данный сайт предназначен для настройки бота, для вашего сервера.<br>
Чтобы начать настройку бота, добавьте его на сервер, и авторизуйтесь на сайте!<br><br>

Добавить бота на сервер - <a href="https://discord.com/oauth2/authorize?client_id=663381953181122570&scope=bot&permissions=8">КЛИК</a><br>
Сервер разработчика - <a href="https://discord.gg/RazDmcz">КЛИК</a><br>
Разработчик - Lil hika#3565<br><br>

Version - 19.05 0.1<br>
-Добавлено изменения префикса
